# The image needs to be OUR version, with the schematool initialization and startmetastore calls
image:
  repository: bitnami/postgresql
  tag: 10.21.2
  pullPolicy: IfNotPresent

postgresql:
  auth:
    postgresPassword: hive
    username: hive
    password: hive
    database: metastore
    existingSecret: ""


replicas: 1
resources: {}
conf:
  hiveSite:
    hive_metastore_uris: thrift://hive-metastore:9083
    # if not set, default hive.metastore.warehouse.dir is default to: "hdfs://{{.Release.Name}}-hdfs:8020/user/hive/warehouse"
    # hive.metastore.warehouse.dir:
    fs.s3a.impl: org.apache.hadoop.fs.s3a.S3AFileSystem
    fs.s3a.access.key: admin
    fs.s3a.secret.key: Q1zx10EMuU21aEgAZm4kJm9DrD0EjjzIYE8y01Ea
    fs.s3a.endpoint: http://minio.minio-system:9000
    fs.s3a.path.style.access: true
